## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,New Norfolk,AU,-42.7826,147.0587,44.01,89,99,1.01,light rain,2021-04-10 22:45:15
1,1,Punta Arenas,CL,-53.1500,-70.9167,50.00,66,75,14.97,broken clouds,2021-04-10 22:45:15
2,2,Mataura,NZ,-46.1927,168.8643,62.01,86,63,1.99,broken clouds,2021-04-10 22:45:16
3,3,Hirara,JP,24.8000,125.2833,71.60,88,40,12.66,scattered clouds,2021-04-10 22:45:16
4,4,Pergamino,AR,-33.8900,-60.5736,68.00,99,100,1.01,light rain,2021-04-10 22:45:16

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [5]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
3,3,Hirara,JP,24.8000,125.2833,71.60,88,40,12.66,scattered clouds,2021-04-10 22:45:16
5,5,Eydhafushi,MV,5.1033,73.0708,82.71,71,3,7.14,clear sky,2021-04-10 22:45:16
8,8,Puerto Ayora,EC,-0.7393,-90.3518,78.80,83,20,5.75,light rain,2021-04-10 22:45:17
17,17,Grand Gaube,MU,-20.0064,57.6608,80.01,74,98,5.99,overcast clouds,2021-04-10 22:33:05
19,19,Hithadhoo,MV,-0.6000,73.0833,83.32,69,56,12.88,broken clouds,2021-04-10 22:45:20
21,21,Rikitea,PF,-23.1203,-134.9692,78.96,71,0,9.33,clear sky,2021-04-10 22:45:21
23,23,Tura,IN,25.5198,90.2201,71.56,71,0,3.76,clear sky,2021-04-10 22:45:22
24,24,Vila Velha,BR,-20.3297,-40.2925,77.00,73,20,5.75,few clouds,2021-04-10 22:35:52
26,26,Santa Monica,US,34.0195,-118.4912,73.40,52,1,8.05,clear sky,2021-04-10 22:40:52
27,27,Port Blair,IN,11.6667,92.7500,81.10,77,80,3.78,broken clouds,2021-04-10 22:36:53

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                290
City                   290
Country                289
Lat                    290
Lng                    290
Max Temp               290
Humidity               290
Cloudiness             290
Wind Speed             290
Current Description    290
Date                   290
dtype: int64

In [7]:
preferred_cities_df.count()

City_ID                290
City                   290
Country                289
Lat                    290
Lng                    290
Max Temp               290
Humidity               290
Cloudiness             290
Wind Speed             290
Current Description    290
Date                   290
dtype: int64

In [8]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
3,3,Hirara,JP,24.8000,125.2833,71.60,88,40,12.66,scattered clouds,2021-04-10 22:45:16
5,5,Eydhafushi,MV,5.1033,73.0708,82.71,71,3,7.14,clear sky,2021-04-10 22:45:16
8,8,Puerto Ayora,EC,-0.7393,-90.3518,78.80,83,20,5.75,light rain,2021-04-10 22:45:17
17,17,Grand Gaube,MU,-20.0064,57.6608,80.01,74,98,5.99,overcast clouds,2021-04-10 22:33:05
19,19,Hithadhoo,MV,-0.6000,73.0833,83.32,69,56,12.88,broken clouds,2021-04-10 22:45:20
...,...,...,...,...,...,...,...,...,...,...,...
667,667,Houma,US,29.5958,-90.7195,73.40,73,90,9.22,overcast clouds,2021-04-10 22:48:42
668,668,Acaponeta,MX,22.4964,-105.3594,88.59,31,48,8.72,scattered clouds,2021-04-10 22:48:42
671,671,Mahajanga,MG,-15.7167,46.3167,77.00,94,20,3.44,few clouds,2021-04-10 22:48:43
674,674,Angoche,MZ,-16.2325,39.9086,76.17,88,100,5.59,light rain,2021-04-10 22:48:44
677,677,Ranong,TH,9.9658,98.6348,77.47,86,68,4.23,broken clouds,2021-04-10 22:48:44

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Hirara,JP,71.60,scattered clouds,24.8000,125.2833,
5,Eydhafushi,MV,82.71,clear sky,5.1033,73.0708,
8,Puerto Ayora,EC,78.80,light rain,-0.7393,-90.3518,
17,Grand Gaube,MU,80.01,overcast clouds,-20.0064,57.6608,
19,Hithadhoo,MV,83.32,broken clouds,-0.6000,73.0833,
21,Rikitea,PF,78.96,clear sky,-23.1203,-134.9692,
23,Tura,IN,71.56,clear sky,25.5198,90.2201,
24,Vila Velha,BR,77.00,few clouds,-20.3297,-40.2925,
26,Santa Monica,US,73.40,clear sky,34.0195,-118.4912,
27,Port Blair,IN,81.10,broken clouds,11.6667,92.7500,

In [11]:
len(hotel_df)

290

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Hirara,JP,71.60,scattered clouds,24.8000,125.2833,Hirara
5,Eydhafushi,MV,82.71,clear sky,5.1033,73.0708,Eydhafushi
8,Puerto Ayora,EC,78.80,light rain,-0.7393,-90.3518,Puerto Ayora
17,Grand Gaube,MU,80.01,overcast clouds,-20.0064,57.6608,Goodlands
19,Hithadhoo,MV,83.32,broken clouds,-0.6000,73.0833,Addu City

In [14]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [17]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Deliverable 2