## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()

vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Eydhafushi,MV,82.71,clear sky,5.1033,73.0708,Eydhafushi
1,8,Puerto Ayora,EC,78.80,light rain,-0.7393,-90.3518,Puerto Ayora
2,17,Grand Gaube,MU,80.01,overcast clouds,-20.0064,57.6608,Goodlands
3,19,Hithadhoo,MV,83.32,broken clouds,-0.6000,73.0833,Addu City
4,21,Rikitea,PF,78.96,clear sky,-23.1203,-134.9692,Rikitea

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Trip to Mauritius.
# Grab the first hotel from the results and store the name.
mauritius_vacation_df = vacation_df.loc[(vacation_df["Country"] == "MU")]
mauritius_vacation_df.dropna()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,17,Grand Gaube,MU,80.01,overcast clouds,-20.0064,57.6608,Goodlands
21,65,Souillac,MU,78.80,broken clouds,-20.5167,57.5167,Souillac
85,279,Mahebourg,MU,78.80,light rain,-20.4081,57.7000,Mahebourg
87,288,Bambous Virieux,MU,80.01,light rain,-20.3428,57.7575,Vieux Grand Port
137,425,Cap Malheureux,MU,80.01,overcast clouds,-19.9842,57.6142,Grand Baie

In [6]:
new_column_order = ["City_ID", "City", "Country", "Lat","Lng", "Max Temp", "Current Description"]

In [7]:
mauritius_vacation_df = mauritius_vacation_df[new_column_order]

In [8]:
mauritius_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
2,17,Grand Gaube,MU,-20.0064,57.6608,80.01,overcast clouds
21,65,Souillac,MU,-20.5167,57.5167,78.80,broken clouds
85,279,Mahebourg,MU,-20.4081,57.7000,78.80,light rain
87,288,Bambous Virieux,MU,-20.3428,57.7575,80.01,light rain
137,425,Cap Malheureux,MU,-19.9842,57.6142,80.01,overcast clouds

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 

start = float(input("What is your Starting City_ID from MV List you would like for your trip? "))
stop1 = float(input("What is your First Stop City_ID from MV List you would like for your trip? "))
stop2 = float(input("What is your Second Stop City_ID from MV List you would like for your trip? "))
stop3 = float(input("What is your Thirth Stop City_ID from MV List you would like for your trip? "))
end = float(input("What is your Last City_ID from MV List you would like for your trip? "))

What is your Starting City_ID from MV List you would like for your trip? 17
What is your First Stop City_ID from MV List you would like for your trip? 425
What is your Second Stop City_ID from MV List you would like for your trip? 279
What is your Thirth Stop City_ID from MV List you would like for your trip? 65
What is your Last City_ID from MV List you would like for your trip? 288

In [10]:
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

In [11]:
# Start Vacation at:

vacation_start = mauritius_vacation_df.loc[(mauritius_vacation_df["City_ID"] == stop1)]
vacation_start = vacation_start.iloc[0]

vacation_stop1 = mauritius_vacation_df.loc[(mauritius_vacation_df["City_ID"] == stop2)]
vacation_stop1 = vacation_stop1.iloc[0]

vacation_stop2 = mauritius_vacation_df.loc[(mauritius_vacation_df["City_ID"] == stop3)]
vacation_stop2 = vacation_stop2.iloc[0]

vacation_stop3 = mauritius_vacation_df.loc[(mauritius_vacation_df["City_ID"] == end)]
vacation_stop3 = vacation_stop3.iloc[0]

vacation_end = mauritius_vacation_df.loc[(mauritius_vacation_df["City_ID"] <= end)]
vacation_end = vacation_end.iloc[0] 
                                     
print("Your Starting Destination is " + vacation_start["City"] + ", " + vacation_start["Country"])
print("Your Last Stop in your vacation is " + vacation_end["City"] + ", " + vacation_end["Country"])
print("Your Frist Stop is " + vacation_stop1["City"] + ", " + vacation_stop1["Country"])
print("Your Second Stop is " + vacation_stop2["City"] + ", " + vacation_stop2["Country"])                                     
print("Your Thirth Stop is " + vacation_stop3["City"] + ", " + vacation_stop3["Country"])

Your Starting Destination is Cap Malheureux, MU
Your Last Stop in your vacation is Grand Gaube, MU
Your Frist Stop is Mahebourg, MU
Your Second Stop is Souillac, MU
Your Thirth Stop is Bambous Virieux, MU

In [12]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]]
print(start)

Lat   -19.9842
Lng    57.6142
Name: 137, dtype: object

In [13]:
stop1 = vacation_stop1[["Lat", "Lng"]]
print(stop1)

Lat   -20.4081
Lng       57.7
Name: 85, dtype: object

In [14]:
stop2 = vacation_stop2[["Lat", "Lng"]]
print(stop2)

Lat   -20.5167
Lng    57.5167
Name: 21, dtype: object

In [15]:
stop3 = vacation_stop3[["Lat", "Lng"]]
print(stop3)

Lat   -20.3428
Lng    57.7575
Name: 87, dtype: object

In [16]:
end = vacation_end[["Lat", "Lng"]]
print(end)

Lat   -20.0064
Lng    57.6608
Name: 2, dtype: object

In [17]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

start = (-20.3428, 57.7575)
stop1 = (-20.5167, 57.5167)
stop2 = (-20.4081, 57.7)
stop3 = (-19.9842, 57.6142)
end = (-20.3428, 57.7575)

fig = gmaps.figure()
sart2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(sart2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

mauritius_vacation_df = pd.concat([mauritius_vacation_df],ignore_index=True)
mauritius_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
0,17,Grand Gaube,MU,-20.0064,57.6608,80.01,overcast clouds
1,65,Souillac,MU,-20.5167,57.5167,78.80,broken clouds
2,279,Mahebourg,MU,-20.4081,57.7000,78.80,light rain
3,288,Bambous Virieux,MU,-20.3428,57.7575,80.01,light rain
4,425,Cap Malheureux,MU,-19.9842,57.6142,80.01,overcast clouds

In [19]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
mark_info = [info_box_template.format(**row) for index, row in mauritius_vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = mauritius_vacation_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map.
city_mark = mauritius_vacation_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=mark_info)

fig.add_layer(marker_layer)

In [22]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))